nav {
    background: rgba(0, 0, 0, .3);
    width: max-content;
    display: block;
    padding: .5rem 1.5rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 1rem;
    display: flex;
    gap: 0.8rem;
    border-radius: 20px;
    backdrop-filter: blur(2px);
    transition: .5s ease all;
}

nav a {
    background: transparent;
    padding: .5rem;
    border-radius: 30%;
    display: flex;
    font-size: 1.1rem;
    transition: .5s ease;
    
}

nav a:hover {
    color: white;
    transition: .5s ease;
    bottom: .5rem;
}

nav a.active {
    background: #4344b4;
    border-radius: 30%;
    color: white;
    transition: .5s ease;
}